@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
	font-family: 'Lato', 'Helvetica', sans-serif;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	padding: 0 5px;
}

.btn-group {
	display: flex;
	justify-content: space-around;
}

.btn {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #21759b;
	border: 1px solid #21759b;
	padding: 0.7rem;
	line-height: 1;
	border-radius: .3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', 'Helvetica', sans-serif;
	min-width: 6rem;
	margin: 0 auto;
	text-decoration: none;
}

.btn:hover, .btn:focus {
	background-color: #d54e21;
	border: 1px solid #d54e21;
	text-decoration: none;
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-large {
	width: 100%;
	justify-content: flex-start;
}

.App-arrow {
	height: 1.2rem;
	margin-right: 1.2em;
}


.App-header {
	padding: 15px 0;
	color: white;
	flex: 1 1 3%;
}
.App-main {
	text-align: center;
	flex: 1 1 82%;
}
.App-question {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
}

.App-intro {
	font-size: large;
}

.App-header, footer {
	max-width: 320px;
	margin: 0 auto;
	width: 100%;
}

@media screen and (min-width: 820px) {
	.App-header, footer {
		max-width: 768px;
	}
	.App-header{
		padding: 20px;
	}
	.App-question {
		font-size: 3rem;
	}

	.btn {
		padding: 1rem;
		font-size: 1.7rem;
		min-width: 10rem;
	}
	.App-arrow {
		height: 1.7rem;
	}

}

footer {
	flex: 1 1 15%;
}

